{% extends 'base.html' %}

{% block content %}

<div class="columns-wrapper">

    <!-- LEFT COLUMN -->
    <div class="column-left">

        <h1>DAYS </h1>
        <div class="days-wrapper">
            {% for _day in days %}
            <a href="/day/{{ user.id }}/{{ _day.id }}">
                <h2 class={% if _day.day==day %} "selected-day" {% endif %}> {{_day.day}} </h2>
            </a>
            {% endfor %}
        </div>
        <div class="cals-wrapper">
            <div class="cals">
                <div>
                    <!-- Checking to see if there is a calorie value for that day -->
                    {% if calories %}
                    <h1>Target: {{ calories }} kcals</h1>
                    {% else %}
                    <h1>Enter kcal for {{ day }}</h1>
                    {% endif %}

                    <form action="/calories/{{ user.id }}/{{ day }}" method="POST">
                        <input id="search-bar" type="number" placeholder="Calories for {{ day }}" min="1" max="10000"
                            class="calorie-btn" name="target_calories" required>
                        <button>Confirm</button>
                    </form>
                </div>
                <div class="ate-and-eat-text">
                    {% if eaten_calories %}
                    <h3 class="ate-text">Ate: {{ eaten_calories }}kcals</h3>
                    {% else %}
                    <h3 class="ate-text">Ate: 0 kcals</h3>
                    {% endif %}

                    {% if calories %}
                    <h3 class="eat-text">Eat: {{ eat_calories }}</h3>
                    {% else %}
                    <h3 class="eat-text">Eat: 0</h3>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="progress-wrapper">
            <div class="progress-bar">
                <div class="progress{{progress}}"></div>
            </div>
        </div>

        <!-- Users food -->
        <div class="food-wrapper">
            {% if not foods %}
            <h2>No foods added to {{ day }}...</h2>
            {% endif %}

            {% for food in foods %}
            <div class="user-food-container">
                <div class={% if food.eaten=='true' %} "food-container-ate" {% else %} "food-container-eat" {% endif %}>
                    <h2> {{food.name}} </h2>
                    <h3> {{food.calories}} kcals</h3>

                    <div class="food-bg">
                        {% if food.food_type == 'main' %}
                        <i class="fa-solid fa-burger" id="blue-gradient"></i>
                        {% elif food.food_type == 'fruit'%}
                        <i class="fa-solid fa-apple-whole" id="blue-gradient"></i>
                        {% elif food.food_type == 'drink'%}
                        <i class="fa-solid fa-bottle-water" id="blue-gradient"></i>
                        {% elif food.food_type == 'snack'%}
                        <i class="fa-solid fa-candy-cane" id="blue-gradient"></i>
                        {% elif food.food_type == 'other'%}
                        <i class="fa-solid fa-circle-question" id="blue-gradient"></i>
                        {% elif food.food_type == 'supplement'%}
                        <i class="fa-solid fa-syringe" id="blue-gradient"></i>
                        {% endif %}
                    </div>

                    <!-- Eat btn -->
                    {% if food.eaten == 'false' %}
                    <form action="/foods/eat/{{ user.id }}/{{ day }}/{{ food.id }}" method="POST">
                        <button class="eat-uneat-btn"><i class="fa-regular fa-circle-check"
                                id="check-green"></i></button>
                    </form>

                    {% else %}
                    <form action="/foods/uneat/{{ user.id }}/{{ day }}/{{ food.id }}" method="POST">
                        <button class="eat-uneat-btn"><i class="fa-regular fa-circle-xmark" id="cross-red"></i></button>
                    </form>

                    {% endif %}

                    <div class="edit-remove-btn">
                        <form action="/foods/edit/{{ user.id}}/{{ food.id }}" method="POST">
                            <button>edit</button>
                            <!-- Hidden select to pass up the day_id -->
                            <select name="day_id" id="day_id" hidden>
                                {% for _day in days %}
                                <option value="{{_day.id}}" {% if _day.day==day %} selected {% endif %}> {{_day.day}}
                                </option>
                                {% endfor %}
                            </select>
                        </form>

                        <form action="/foods/remove/{{ user.id }}/{{ day }}/{{ food.id }}" method="POST">
                            <button>remove</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- ADD NOTES HERE -->
        <div class="notes-wrapper">
            <h1>{{day}}s reminders:</h1>
            <form action="/reminder/{{user.id}}/{{ days_id }}" method="POST">
                <input type="text" placeholder="Enter a reminder" id="search-bar" name="reminder">
                <button>Confirm</button>
            </form>
            <!-- REMINDERS -->
            {% if reminders %}

            <div class="reminder-wrapper">
                <ul>
                    {% for reminder in reminders %}
                    <li>

                        <!--reminder not completed -->
                        {% if reminder.completed == 'false' %}
                        <h2 id="reminder-font">{{ reminder.reminder }}</h2>
                        <form action="/reminder/mark-completed/{{ user.id }}/{{ days_id }}/{{ reminder.id }}"
                            method="POST">
                            <button class="eat-uneat-btn"><i class="fa-regular fa-circle-check"
                                    id="check-green"></i></button>
                        </form>
                        {%elif reminder.completed == 'true'%}
                        <!-- reminder completed -->
                        <h2 id="reminder-font-completed">{{ reminder.reminder }}</h2>
                        <form action="/reminder/mark-uncompleted/{{ user.id }}/{{ days_id }}/{{ reminder.id }}"
                            method="POST">
                            <button class="eat-uneat-btn"><i class="fa-regular fa-circle-xmark"
                                    id="cross-red"></i></button>
                        </form>
                        {% endif %}

                        <form action="/reminder/delete/{{user.id}}/{{ days_id }}/{{ reminder.id }}" method="POST">
                            <button><i class="fa-solid fa-trash-can"></i></button>
                        </form>

                    </li>
                    {% endfor %}
                </ul>
            </div>

            {% elif not reminders %}
            <h3>No reminders set for {{day}}...</h3>
            {% endif %}
        </div>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="column-right">


        <!-- Unassigned user foods -->
        <!-- CREATE NEW FOOD -->


        <!-- FOOD SEARCH BAR -->
        <div class="search-bar-wrapper">
            <h1>FOODS </h1>
            <div class="search-bar">
                <form action="/foods/search/{{ user.id }}/{{ days_id }}" method="POST">
                    <input type="text" placeholder="Search foods..." name="search" id="search-bar">
                    <button class="magnifying-glass-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
        <br>
        <div class="food-wrapper-right">
            <div class="create-food-wrapper">
                <div class="food-container">
                    <div class="food-container-inner">
                        <form action="/foods/new/{{ user.id }}/{{ day }}" method="POST">
                            <h2>Create new food:</h2>

                            <label for="name">Food name: </label>
                            <input type="text" id="name" name="name" required>


                            <label for="calories">Number of kcals: </label>
                            <input type="number" id="calories" name="calories" required>


                            <label for="type">Food type</label>
                            <select name="food_type" id="type" required>
                                <option value="main">meal</option>
                                <option value="fruit">fruit</option>
                                <option value="drink">drink</option>
                                <option value="snack">snack</option>
                                <option value="snack">supplement</option>
                                <option value="other">other</option>
                            </select>
                            <br>
                            <button class="add-food-btn">
                                <i class="fa-solid fa-circle-plus"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% for food in unassigned_foods %}
            <div class="food-container">
                <div class="food-container-inner">
                    <form action="/foods/add/{{ user.id }}/{{ day }}/{{ food.id }}" method="POST">
                        <select name="day_id" id="day_id" hidden>
                            {% for _day in days %}
                            <option value="{{_day.id}}" {% if _day.day==day %} selected {% endif %}> {{_day.day}}
                            </option>
                            {% endfor %}
                        </select>
                        <button class="add-food-btn">
                            <i class="fa-solid fa-circle-plus"></i>
                        </button>
                    </form>

                    <h2> {{food.name}} </h2>
                    <h4> {{food.calories}} kcals </h4>

                    <!-- Displaying the food type -->
                    <div class="food-bg">
                        {% if food.food_type == 'main' %}
                        <i class="fa-solid fa-burger" id="blue-gradient"></i>
                        {% elif food.food_type == 'fruit'%}
                        <i class="fa-solid fa-apple-whole" id="blue-gradient"></i>
                        {% elif food.food_type == 'drink'%}
                        <i class="fa-solid fa-bottle-water" id="blue-gradient"></i>
                        {% elif food.food_type == 'snack'%}
                        <i class="fa-solid fa-candy-cane" id="blue-gradient"></i>
                        {% elif food.food_type == 'other'%}
                        <i class="fa-solid fa-circle-question" id="blue-gradient"></i>
                        {% elif food.food_type == 'supplement'%}
                        <i class="fa-solid fa-syringe" id="blue-gradient"></i>
                        {% endif %}
                    </div>

                    <div class="edit-remove-btn">
                        <form action="/foods/edit/{{ user.id}}/{{ food.id }}" method="POST">
                            <button>edit</button>
                            <!-- Hidden select to pass up the day_id -->
                            <select name="day_id" id="day_id" hidden>
                                {% for _day in days %}
                                <option value="{{_day.id}}" {% if _day.day==day %} selected {% endif %}> {{_day.day}}
                                </option>
                                {% endfor %}
                            </select>
                        </form>

                        <form action="/foods/remove/{{ user.id }}/{{ day }}/{{ food.id }}" method="POST">
                            <button>remove</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>






{% endblock content %}