{% extends 'base.html' %}


{% block content %}
<h1>user data</h1>
<h1>{{ user.name }}</h1>
<h1>{{ user.id }}</h1>

<!-- not working -->
<h1>days:</h1>
{% for day in days %}
<h2>{{ day.day }}</h2>
{% endfor %}


<!-- Finish this after you do days -->
<form action="/foods/new<user_id>" method="POST">
    <label for="name">Food name: </label>
    <input type="name" id="name">

    <label for="calories">Number of kcals: </label>
    <input type="number" id="calories" name="calories">
</form>

{% endblock content %}