{% extends 'base.html' %}



<!-- // this section is kinda outdated. Update it with day.html when done -->
{% block content %}
<h1>user data</h1>
<h1>{{ user.name }}</h1>
<h1>{{ user.id }}</h1>

<h1>days:</h1>

<div class="days-wrapper">
    {% for day in days %}
    <a href="/day/{{ user.id }}/{{ day.day }}">
        <h2> {{ day.day }} </h2>
    </a>
    {% endfor %}
</div>

<div class="cals-wrapper">
    <div class="cals">
        <div>
            <h1>CALORIES HERE</h1>
        </div>
        <div class="ate-and-eat-text">
            <h3>ATE 500</h3>
            <h3>EAT 2500</h3>
        </div>
    </div>
</div>


<!-- Finish this after you do days -->
<form action="/foods/new/<user_id>" method="POST">
    <label for="name">Food name: </label>
    <input type="name" id="name" name="name">

    <label for="calories">Number of kcals: </label>
    <input type="number" id="calories" name="calories">
</form>

{% endblock content %}