:root {
    --Blue5: #03000e;
    --Blue4: #0c0032;
    --Blue3: #190061;
    --Blue2: #240090;
    --Blue1: #3500d3;
    --Gray: #282828;
    --Gray1:rgb(244, 244, 244);
    --Gray0:rgb(249, 249, 249);

    --Red: #ffadad;
    --Orange: #ffd6a5;
    --Yellow: #fdffb6;
    --Green: #caffbf;
    --Cyan: #9bf6ff;
    --Blue: #a0c4ff;
    --Purple: #bdb2ff;
    --White: #e1e1e1;
    --Grey: #403d39;
    
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
}


/* PROGRESS BAR */
.progress-wrapper{
    width: 50vw;
    margin-top: 20px;
}

.progress-bar{
    background: rgb(0,255,0);
background: linear-gradient(0deg, rgba(0,255,0,1) 0%, rgba(254,255,207,1) 100%);
    height: 20px;
    border-radius: 20px;
    border: 2px solid var(--Grey);
}

.progress0{
    height: 20px;
    width: 0px;
    background: rgb(255,0,0);
background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(254,255,207,1) 100%);
    border-radius: 20px;
    transition: 1s ease all;
    
}

.progress10{
    height: 20px;
    width: 10%;
    background: rgb(255,0,0);
background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(254,255,207,1) 100%);
    border-radius: 20px;
    transition: 1s ease all;
    border-right: 2px solid var(--Grey);
}

.progress20{
    height: 20px;
    width: 20%;
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(254,255,207,1) 100%);
    border-radius: 20px;
    transition: 1s ease all;
    border-right: 2px solid var(--Grey);
}

.progress30{
    height: 20px;
    width: 30%;
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(254,255,207,1) 100%);
    border-radius: 20px;
    transition: 1s ease all;
    border-right: 2px solid var(--Grey);
}

.progress40{
    height: 20px;
    width: 40%;
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(254,255,207,1) 100%);
    border-radius: 20px;
    transition: 1s ease all;
    border-right: 2px solid var(--Grey);
}

.progress50{
    height: 20px;
    width: 50%;
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(254,255,207,1) 100%);
    border-radius: 20px;
    transition: 1s ease all;
    border-right: 2px solid var(--Grey);
}

.progress60{
    height: 20px;
    width: 60%;
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(254,255,207,1) 100%);
    border-radius: 20px;
    transition: 1s ease all;
    border-right: 2px solid var(--Grey);
}

.progress70{
    height: 20px;
    width: 70%;
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(254,255,207,1) 100%);
    border-radius: 20px;
    transition: 1s ease all;
    border-right: 2px solid var(--Grey);
}

.progress80{
    height: 20px;
    width: 80%;
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(254,255,207,1) 100%);
    border-radius: 20px;
    transition: 1s ease all;
    border-right: 2px solid var(--Grey);
}

.progress90{
    height: 20px;
    width: 90%;
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(254,255,207,1) 100%);
    border-radius: 20px;
    transition: 1s ease all;
    border-right: 2px solid var(--Grey);
}

.progress100{
    height: 20px;
    width: auto;
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(254,255,207,1) 100%);
    border-radius: 20px;
    transition: 1s ease all;
}



.get-started-btn {
    width: 200px;
    height: 50px;
    border: none;
    background: var(--Blue1);
    border-radius: 5px;
    cursor: pointer;
}
.get-started-btn a{
    color: white;
}

#title {
    font-family: 'Lobster';
    background: rgb(53,0,211);
    background-image: linear-gradient(0deg, rgba(53,0,211,1) 0%, rgba(0,212,255,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent;
    font-size: 2rem;
    transition: 0.3s ease all;
}

#title:hover {
    font-family: 'Lobster';
    color: var(--Blue1);
    font-size: 2rem;
    transform: rotate(-3deg);
    transition: 0.3s ease all;
}



nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}



.reminder-wrapper li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reminder-font{
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

#reminder-font-completed{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-decoration: line-through;
}

nav ul li a{
    color: var(--Blue1);
    text-decoration: none;
}

button{
    padding: 0;
}

body {
    background: var(--Gray1);
    color: var(--Gray);
    font-family: 'Roboto', sans-serif;
}

.columns-wrapper{
    display: flex;
    justify-content: space-between;
}

.column-right {
    width: 45vw;
    margin-right: 1vw;
}
.column-left {
    width: 45vw;
    margin-left: 1vw;
    text-align: center;
}
.create-food-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.days-wrapper{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.days-wrapper a {
    color: var(--Grey);
    text-decoration: none;
    padding: 5px;
    transition: 0.3s ease all;
}

.days-wrapper a:hover {
    color: var(--Blue1);
    text-decoration: none;
    padding: 5px;
    transition: 0.3s ease all;
}

.cals-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.cals{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 5px;
    width: 50vw;
}

.ate-and-eat-text {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.eat-text {
    color: green;
    margin-right: 50px;
}

.ate-text{
    color: red;
    margin-left: 50px;
}

.calorie-btn{
    width: 200px;
}


.food-wrapper {
    overflow: scroll;
    margin-top: 20px;
    height: 240px;
    width: 50vw;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* align-items: flex-start; */
}

.food-wrapper-right {
    overflow: scroll;
    width: 45vw;
    height: 750px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 50%;
    border: 2px solid white;
    border-radius: 5px;
}

.food-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    margin: 0;
    height: auto;
}

.user-food-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    margin: 0;
    height: auto;
}

#blue-gradient {
    background: rgb(53,0,211);
    background-image: linear-gradient(0deg, rgba(53,0,211,1) 0%, rgba(0,212,255,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent;
}


.food-container-inner{
    display: flex; 
    flex-direction: column;
    width: 180px;
    height: 220px;
    background: var(--Gray0);
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    box-shadow: 3px 3px 5px #343434;
}

.food-container-ate{
    display: flex; 
    flex-direction: column;
    border: 2px solid #ff0000;
    width: 180px;
    height: 220px;
    background: var(--Gray0);
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    box-shadow: 3px 3px 5px #343434;
}

.food-container-eat{
    display: flex; 
    flex-direction: column;
    border: 2px solid green;
    width: 180px;
    height: 220px;
    background: var(--Gray0);
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    box-shadow: 3px 3px 5px #343434;
}

.edit-remove-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-remove-btn button{
    background: var(--Gray);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
}


button{
    background: var(--Gray);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
}



.food-container h2 {
    padding: 0;
    margin: 0;
}


.food-bg {
    font-size: 90px;
    color: var(--Blue1);
}

.eat-uneat-btn{
    border: none;
    width: auto;
    background: none;
    cursor: pointer;
}

#check-green {
    color: green;
    font-size: 1.4rem;
    transition: 0.3s ease all;
}
#check-green:hover {
    color: red;
    font-size: 1.4rem;
    transition: 0.3s ease all;
}

#cross-red {
    color: red;
    font-size: 1.4rem;
    transition: 0.3s ease all;
}
#cross-red:hover {
    color: green;
    font-size: 1.4rem;
    transition: 0.3s ease all;
}


.selected-day{
    color: var(--Blue1);
}

.add-food-btn{
    background: none;
    border: none;
}

.add-food-btn i{
    font-size: 1.4rem;
    /* color: var(--Blue1); */
    color: var(--Gray);
    cursor: pointer;
}

.search-bar-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-bar{
    width: 150px;
    border-radius: 20px;
    border: none;
}

.magnifying-glass-btn{
    background: none;
    border: none;
}


.magnifying-glass-btn i {
    color: var(--Grey);
}


.notes-wrapper{
    margin-top: 20px;
    width: 50vw;
    height: 340px;
    border: 2px solid white;
    border-radius: 5px;
}


.user-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--Gray0);
    border-radius: 7px;
    padding: 5px;
    margin-top: 30px;
    box-shadow: 3px 3px 5px #34343468;
    
}

.user-inputs{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid var(--Grey);
    background: var(--Gray0);
    margin-top: 5px;
}

#black-btn{
    background: var(--Grey);
}

.user-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.user-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px #34343468;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.user-circle i {
    color: var(--Grey);
}

.user-circle button {
    background: none;
}

.user-input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-column {
    display: flex;
    flex-direction: column;
}