:root {
    --Blue5: #03000e;
    --Blue4: #0c0032;
    --Blue3: #190061;
    --Blue2: #240090;
    --Blue1: #3500d3;
    --Gray: #282828;
    --Gray1:rgb(201, 201, 201);
    --Gray0:rgb(232, 232, 232);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
}


.get-started-btn {
    width: 200px;
    height: 50px;
    border: none;
    background: var(--Blue1);
    border-radius: 5px;
    cursor: pointer;
}
.get-started-btn a{
    color: white;
}

#title {
    font-family: 'Lobster';
    color: var(--Blue1);
    font-size: 2rem;
    transition: 0.3s ease all;
}

#title:hover {
    font-family: 'Lobster';
    color: var(--Blue1);
    font-size: 2rem;
    transform: rotate(-3deg);
    transition: 0.3s ease all;

}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}



.reminder-wrapper li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reminder-font{
    font-family: 'Edu VIC WA NT Beginner', cursive;
}


nav ul li a{
    color: var(--Blue1);
    text-decoration: none;
}

button{
    padding: 0;
}

body {
    background: var(--Gray1);
    color: var(--Gray);
    font-family: 'Roboto', sans-serif;
}

.columns-wrapper{
    display: flex;
    justify-content: space-between;
}

.column-right {
    width: 45vw;
    margin-right: 1vw;
}
.column-left {
    width: 45vw;
    margin-left: 1vw;
    text-align: center;
}
.create-food-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.days-wrapper{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.days-wrapper a {
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: 0.3s ease all;
}

.days-wrapper a:hover {
    color: var(--Blue1);
    text-decoration: none;
    padding: 5px;
    transition: 0.3s ease all;
}

.cals-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.cals{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 5px;
    width: 50vw;
}

.ate-and-eat-text {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.eat-text {
    color: green;
}

.ate-text{
    color: red;
}

.calorie-btn{
    width: 200px;
}


.food-wrapper {
    overflow: scroll;
    margin-top: 20px;
    height: 240px;
    width: 50vw;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* align-items: flex-start; */
}

.food-wrapper-right {
    overflow: scroll;
    width: 45vw;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 50%;
    border: 2px solid white;
    border-radius: 5px;
}

.food-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    margin: 0;
    height: auto;
}

.user-food-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    margin: 0;
    height: auto;
}

/*  */
.food-container-inner{
    display: flex; 
    flex-direction: column;
    width: 180px;
    height: 220px;
    background: var(--Gray0);
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    box-shadow: 3px 3px 5px #343434;
}

.food-container-ate{
    display: flex; 
    flex-direction: column;
    border: 2px solid red;
    width: 180px;
    height: 220px;
    background: var(--Gray0);
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    box-shadow: 3px 3px 5px #343434;
}

.food-container-eat{
    display: flex; 
    flex-direction: column;
    border: 2px solid green;
    width: 180px;
    height: 220px;
    background: var(--Gray0);
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    box-shadow: 3px 3px 5px #343434;
}

.edit-remove-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-remove-btn button{
    background: var(--Gray);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
}


button{
    background: var(--Gray);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
}



.food-container h2 {
    padding: 0;
    margin: 0;
}


.food-bg {
    font-size: 90px;
    color: var(--Blue1);
}

.eat-uneat-btn{
    border: none;
    width: auto;
    background: none;
    cursor: pointer;
}

#check-green {
    color: green;
    font-size: 1.4rem;
}

#cross-red {
    color: red;
    font-size: 1.4rem;
}


.selected-day{
    color: var(--Blue1);
}

.add-food-btn{
    background: none;
    border: none;
}

.add-food-btn i{
    font-size: 1.4rem;
    /* color: var(--Blue1); */
    color: var(--Gray);
    cursor: pointer;
}

.search-bar-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-bar{
    width: 150px;
    border-radius: 20px;
    border: none;
}

.magnifying-glass-btn{
    background: none;
    border: none;
}

.notes-wrapper{
    margin-top: 20px;
    width: 50vw;
    height: 380px;
    border: 2px solid white;
    border-radius: 5px;
}