{% extends 'base.html' %}

{% block content %}


<div class="hero-wrapper">
    <h1>Welcome to calroiez tracker</h1>
    <div>
        <h1>Fitness <br>
            starts with <br>
            what you <br>
            eat.
        </h1>
        <p>Take control of your goals. Track calories, break <br> down ingredients, and log activities with <br>
            Caloriez.
        </p>
        <button class="get-started-btn"><a href="/users" class="get-started-btn">Get started</a></button>
        <p>Already have an account? <a href="/">Login</a> </p>
    </div>

    <div class="store-wrapper">
        <img src="static/apple-store.svg" alt="">
        <img src="static/google-store.svg" alt="">
    </div>

</div>

{% endblock content %}